<nav id='mobile_dropdown'>
    <ul>
        <li><a href='index.html'>Home</a>
            <ul>
                <li><a href='index.html'>Home 1</a></li>
                <li><a href='index-2.html'>Home 2</a></li>
                <li><a href='index-3.html'>Home 3</a></li>
                <li><a href='index-4.html'>Home 4</a></li>
                <li><a href='index-5.html'>Home 5</a></li>
                <li><a href='index-6.html'>Home 6</a></li>
                <li><a href='index-7.html'>Home 7</a></li>
                <li><a href='index-8.html'>Home 8</a></li>
                <li><a href='index-9.html'>Home 9</a></li>
                <li><a href='index-10.html'>Home 10</a></li>
                <li><a href='index-11.html'>Home 11</a></li>
            </ul>
        </li>
        <li><a href='#'>portfolio</a>
            <ul class='dropdown'>
                <li><a href='#'>Boxed Style <span><i class='zmdi zmdi-chevron-right'></i></span></a>
                    <ul class='lavel-dropdown'>
                        <li><a href='portfolio-gutter-box-4.html'>Gutter 4 Column</a></li>
                        <li><a href='portfolio-gutter-box-3.html'>Gutter 3 Column</a></li>
                        <li><a href='portfolio-gutter-box-2.html'>Gutter 2 Column</a></li>
                        <li><a href='portfolio-nospace-box-4.html'>no Gutter 4 Column</a></li>
                        <li><a href='portfolio-nospace-box-3.html'> no Gutter 3 Column</a></li>
                        <li><a href='portfolio-nospace-box-2.html'>no Gutter 2 Column</a></li>
                    </ul>
                </li>
                <li><a href='#'>Wide Style <span><i class='zmdi zmdi-chevron-right'></i></span></a>
                    <ul class='lavel-dropdown'>
                        <li><a href='portfolio-gutter-full-wide-6.html'>Gutter 6 Column</a></li>
                        <li><a href='portfolio-gutter-full-wide-4.html'>Gutter 4 Column</a></li>
                        <li><a href='portfolio-nospace-full-wide-6.html'>no Gutter 6 Column</a></li>
                        <li><a href='portfolio-nospace-full-wide-4.html'> no Gutter 4 Column</a></li>
                    </ul>
                </li>
                <li><a href='#'>Card Style <span><i class='zmdi zmdi-chevron-right'></i></span></a>
                    <ul class='lavel-dropdown'>
                        <li><a href='portfolio-card-box-4.html'>Gutter 4 Column</a></li>
                        <li><a href='portfolio-card-box-3.html'>Gutter 3 Column</a></li>
                        <li><a href='portfolio-card-box-2.html'>Gutter 2 Column</a></li>
                        <li><a href='portfolio-card-full-wide-6.html'> full Width 6 Column</a></li>
                        <li><a href='portfolio-card-full-wide-4.html'> full Width 4 Column</a></li>
                    </ul>
                </li>
                <li><a href='#'>Masonry Box <span><i class='zmdi zmdi-chevron-right'></i></span></a>
                    <ul class='lavel-dropdown'>
                        <li><a href='portfolio-masonry-4.html'>Gutter 4 Column</a></li>
                        <li><a href='portfolio-masonry-3.html'>Gutter 3 Column</a></li>
                        <li><a href='portfolio-masonry-2.html'>Gutter 2 Column</a></li>
                        <li><a href='portfolio-nospace-masonry-4.html'>no Gutter 4 Column</a></li>
                        <li><a href='portfolio-nospace-masonry-3.html'> no Gutter 3 Column</a></li>
                        <li><a href='portfolio-nospace-masonry-2.html'>no Gutter 2 Column</a></li>
                    </ul>
                </li>
                <li><a href='#'>Masonry Wide <span><i class='zmdi zmdi-chevron-right'></i></span></a>
                    <ul class='lavel-dropdown'>
                        <li><a href='portfolio-gutter-masonry-fullwide-4.html'>Gutter 4 Column</a></li>
                        <li><a href='portfolio-gutter-masonry-fullwide-6.html'>Gutter 6 Column</a></li>
                        <li><a href='portfolio-nospace-masonry-fullwide-4.html'>no Gutter 4 Column</a></li>
                        <li><a href='portfolio-nospace-masonry-fullwide-6.html'> no Gutter 6 Column</a></li>
                    </ul>
                </li>
                <li><a href='#'>carousel style <span><i class='zmdi zmdi-chevron-right'></i></span></a>
                    <ul class='lavel-dropdown'>
                        <li><a href='portfolio-gutter-box-3-carousel.html'>Gutter 3 Column</a></li>
                        <li><a href='portfolio-gutter-box-3-carousel-fullwide.html'>full wide 3 Column</a></li>
                        <li><a href='portfolio-card-box-3-carousel.html'>card 3 Column</a></li>
                        <li><a href='portfolio-card-box-3-carousel-fullwide.html'>full wide 3 Column</a></li>
                    </ul>
                </li>
                <li><a href='#'>justified style <span><i class='zmdi zmdi-chevron-right'></i></span></a>
                    <ul class='lavel-dropdown'>
                        <li><a href='portfolio-justified-box-3.html'>box 3 Column</a></li>
                        <li><a href='portfolio-justified-full-wide-3.html'>full wide 3 Column</a></li>
                        <li><a href='portfolio-justified-box-nospace-3.html'>box no space 3 Column</a></li>
                        <li><a href='portfolio-justified-nospace-fullwide-3.html'>full wide no space 3 Col</a></li>
                    </ul>
                </li>
                <li><a href='#'>Portfolio Details <span><i class='zmdi zmdi-chevron-right'></i></span></a>
                    <ul class='lavel-dropdown'>
                        <li><a href='single-portfolio.html'>style 1</a></li>
                        <li><a href='single-portfolio-left-details.html'>style 2</a></li>
                        <li><a href='single-portfolio-gallery.html'>gallery style</a></li>
                        <li><a href='single-portfolio-slider.html'>slider style</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href='blog.html'>blog</a>
            <ul>
                <li><a href='blog.html'>blog 3 column</a></li>
                <li><a href='blog-2-col.html'>blog 2 column</a></li>
                <li><a href='blog-2-col-leftsidebar.html'>2 col left siderbar</a></li>
                <li><a href='blog-4-col-fullwide.html'>4 column full wide</a></li>
                <li><a href='blog-3-col-fullwide-sidebar.html'>3 col full wide sidebar</a></li>
                <li><a href='blog-details.html'> details right sidebar</a></li>
                <li><a href='blog-details-left-sidebar.html'> details left sidebar</a></li>
            </ul>
        </li>
        <li><a href='#'>pages</a>
            <ul>
                <li><a href='about.html'>about</a></li>
                <li><a href='#'>testimonials <span><i class='zmdi zmdi-chevron-down'></i></span></a>
                    <ul class='lavel-dropdown'>
                        <li><a href='customer-review.html'>customer review</a></li>
                        <li><a href='customer-review-2.html'>customer review 2</a></li>
                        <li><a href='customer-review-3.html'>customer review 3</a></li>
                        <li><a href='customer-review-4.html'>customer review 4</a></li>
                    </ul>
                </li>
                <li><a href='shop.html'>shop</a></li>
                <li><a href='shop-sidebar.html'>shop sidebar</a></li>
                <li><a href='product-details.html'>product details</a></li>
                <li><a href='cart.html'>cart</a></li>
                <li><a href='wishlist.html'>wishlist</a></li>
                <li><a href='checkout.html'>checkout</a></li>
                <li><a href='team.html'>team</a></li>
                <li><a href='login-register.html'>login & register</a></li>
            </ul>
        </li>
        <li><a href='contact.html'>contact</a></li>
    </ul>
</nav>