<nav class='mainmenu__nav d-none d-lg-block'>
    <ul class='main__menu'>
        <li class='drop'><a href='#'>Home</a>
            <ul class='dropdown'>
                <li><a href='index.html'>Home 1</a></li>
                <li><a href='index-2.html'>Home 2</a></li>       
            </ul>
        </li>
        <li class='drop'><a href='#'>portfolio</a>
            <ul class='dropdown'>
                <li><a href='#'>Boxed Style <span><i class='zmdi zmdi-chevron-right'></i></span></a>
                    <ul class='lavel-dropdown'>
                        <li><a href='portfolio-gutter-box-4.html'>Gutter 4 Column</a></li>
                        <li><a href='portfolio-gutter-box-3.html'>Gutter 3 Column</a></li>            
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href='/contact'>contact</a></li>
    </ul>
</nav>