<div class="container">
    <div class="row">
        <div class="col-lg-4 col-xl-4 col-md-12 col-12">
            <div class="blod-details-right-sidebar">
                <div class="our-category-area mt--60">
                    <h2 class="section-title-2">CATEGORY</h2>
                    <ul class="categore-menu">
                        <li>
                            <a href="#"><i class="zmdi zmdi-caret-right"></i>BLOG <span>20</span></a>
                        </li>
                        <li>
                            <a href="#"><i class="zmdi zmdi-caret-right"></i>business <span>40</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-xl-8 col-md-12 col-12">
            <div class="blog-details-left-sidebar mrg-blog">
                <div class="blog-details-top">
                    <div class="our-reply-form-area mt--20">
                        <h2 class="section-title-2">LEAVE A REPLY</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded',function(){        
           
        
    })
</script>