<!-- Start Login Register Area -->

<div class="htc__login__register bg__white ptb--130" style="background: rgba(0, 0, 0, 0) url(/azshopweb/images/bg/5.jpg) no-repeat scroll center center / cover ;">
     <p>Email: {{profile.email}}</p>
     <p><a href="/register/logout">Đăng Xuất</a></p>
</div>

<!-- End Login Register Area --> 