<div class="table-content table-responsive mt-3">
    <table>
        <thead>
            <tr>
                <th><input type="checkbox"/></th>
                <th class="product-thumbnail">Image</th>
                <th class="product-name">Title</th>
                <th class="product-price">Price</th>
                <th class="product-quantity">Category</th>
                <th class="product-subtotal">Action</th> 
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="checkbox" style="width:15px;height:15px"/></td>
                <td class="product-thumbnail">
                    <a href="#"><img src="/azshopweb/images/product/4.png" alt="product img" /></a>
                </td>
                <td class="product-name"><a href="#">iPhone 12</a></td>
                <td class="product-price"><span class="amount">£165.00</span></td>
                <td class="product-quantity">Điện Thoại</td>
                <td class="product-subtotal">
                    <a href="#">Delete | </a>
                    <a href="#">Edit</a>
                </td>
         
            </tr>
        </tbody>
    </table>
</div>
